<head>
  <link rel="stylesheet" href="animate.min.css">
</head>
<div id="landing-bg">
  <h2 id="welcome">Welcome to Dashboard</h2> 
  <h2>Where your dream car lives and who to call to get it</h2>
  <br>
  <h2>Objective:</h2>
  <h2>Organize your cars of interest for purchase and dealer sales people</h2>
  <!-- these links are only on this page -->
  <div id="sign_up_in">
    <div class="btn btn-primary btn-lg linksss">
      <%= link_to "Sign Up!", new_user_registration_path %>
    </div>
    <div class="btn btn-primary btn-lg linksss">
      <%= link_to "Sign In!", new_user_session_path %>
    </div>
  </div>
</div>