<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<h2>Welcome to CarNote/CarPad/whatever-name, a place where your thoughts 
and written notes about your next car can be stored instead of lost on loose-leaf
paper which probably ended up in the garbage</h2>
<br>