<div id="landing-bg">
  <h2>Welcome to Dashboard</h2> 
  <h2>Where your dream car lives and who to call to get it</h2>
  <br>
  <h2>Objective:</h2>
  <h2>Organize your cars of interest for purchase and dealer sales people</h2>
</div>