<div id="edit_dealer_form">
    <div class="form_edit_dealer">  
        <h2>Edit Dealer:</h2>
        <br>
        <div id="form_edit_dealer">
            <%= render "devise/shared/dealer_form" %>
        </div>
    </div>
</div>