<div id="new_dealer_form">
    <div class="form_add_dealer">
        <h2>Add Dealer:</h2>
        <br>
        <div id="form_add_dealer">
            <%= render "devise/shared/dealer_form" %>
        </div>
    </div>
</div>