// Place all the styles related to the after_signup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#first_car, #first_dealer{
  width: 160px;
  margin: 0 auto;
}

.first_car_form, .first_dealer_form{
  margin-top: 50px;
}

#first_car_form, #first_dealer_form {
  margin: 0 auto;
  width: 35%;
  background: white;
  opacity: 0.8;
  border-radius: 15px;
}

/*this moves the white opacity height*/
#first_car_form{
  height: 450px;
}

/*this moves the white opacity height*/
#first_dealer_form{
  height: 530px;
}

/*save button for first car form*/
#first_car .btn-lg{
  margin-top: -15px;
}