/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

p.alert {
  padding: 0px; 
  margin-bottom: 0px; 
  border: none;
  border-radius: 0;
}

p.notice{
  margin: 0px; 
}

/*Sign up/in div on landing page*/
#sign_up_in{
  margin-top: 50px;
  padding-left: 0px;
}

/*Sign up and Sign in button links on landing page*/
.linksss{
  width: 120px;
  margin: 0 auto;
  background-color: black;
}

/*ALL Buttons*/
.btn-lg{
  margin: 11px;
}

/*ALL Buttons*/
/*using important here because i am unable to override bootstrap default*/ 
.btn-primary{
  background-color: black !important;
  border-width: 2px !important;
  &:hover{
    background-color: #337AB7 !important;
  }
}

/*sign in form sitewide theme applied*/
#sign_in_form{
  margin: 0 auto;
  margin-top: 100px;
  width: 30%;
  background: white;
  opacity: 0.8;
  border-radius: 15px; 
}

/*Login sign in form*/
#Login_form{
  padding-bottom: 11px;
}

/*Login sign in form*/
#Login_form .input-lg{
  width: 180px;
  margin: 0 auto;
  margin-top: 10px;
}

/*Button for edit dealer page*/
#form_edit_dealer .btn-lg{
  margin: 0px;
}

/*this resets padding and margin*/
/** {padding: 0;
   margin: 0;}*/
