/*#add_car{ 
  color: white;
}*/

input{
  background-color: white;
}

#year{
  display: inline;
}

#form_add_car{
  width: 160px;
  margin: 0 auto;
}

.form_add_car{
  margin-top: 50px;
}

#new_car_form {
  margin: 0 auto;
  width: 35%;
  height: 450px;
  background: white;
  opacity: 0.8;
  border-radius: 15px;
}

select#car_year{
  font-size: 25px;
  background-color: inherit;
}