/*// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

#landing-bg {
/*  background: url('dashboard.jpg') no-repeat center center fixed;
  background-size: 100%;*/
  width: 100vw;
  height: 100vh;
  color: white;
}

#summary {
  color: white;
}

#add_car {
 color: white;
}