<div id="edit_car_form">
    <div class="form_edit_car">
        <h2>Edit Car:</h2>
        <br>
        <div id="form_edit_car">
            <%= render "devise/shared/car_form" %>
        </div>
    </div>
</div>