<div id="new_car_form">
    <div class="form_add_car">
        <h2>Add Car:</h2>
        <br>
        <div id="form_add_car">
            <%= render "devise/shared/car_form" %>
        </div>
    </div>
</div>