<div id="first_car_form">
    <div class="first_car_form">
        <h2>Add First Car:</h2>
        <br>
        <div id="first_car">
            <%= render "devise/shared/car_form" %>

            <!-- maybe use this next button for when user wants to skip this section -->
            <%= link_to 'Next', next_wizard_path %>
        </div>
    </div>
</div>