<div id="first_dealer_form">
    <div class="first_dealer_form">
        <h2>Add First Dealer:</h2>
        <br>
        <div id="first_dealer">
            <%= render "devise/shared/dealer_form" %>
            
            <!-- user clicks this when they are done the last page (adding a dealer contact) -->
            <%= link_to 'Finish', summary_page_path, :class => "btn btn-primary btn-lg" %>

            <!-- skip button for when user wants to skip this section/doesn't want to input information -->
            <%= link_to 'Skip', summary_page_path, :class => "btn btn-primary btn-lg" %>
        </div>
    </div>
</div>