<div id="special">
  <h1>Welcome to Dashboard</h1>
  <h1>where your dream car lives and who to call to get it</h1>
  <h1>Objective: Organize a user's cars of interest for purchase and dealer sales people</h1>
  <h2>Click the link below that will guide you through some simple set up to get you going</h2>

  <%= link_to 'Start Guide', after_signup_path(:car_build) %>
  <%= hidden_field_tag :guide, :value => true %>
</div>