<div id="special">
  <h1>Welcome to Dashboard</h1>
  <h2>where your dream car lives and who to call to get it</h2>
  <br>
  <h1>Objective:</h1>
  <h2>Organize a user's cars of interest for purchase and dealer sales people</h2>
  <br>
  <br>
  <h4>Click the link below that will guide you through some simple set up to get you going</h4>

  <%= link_to 'Start Guide', after_signup_path(:car_build), :class => "btn btn-primary btn-lg" %>
  <%= hidden_field_tag :guide, :value => true %>
</div>