hey this is the special page SPECIAL PAGE

I want this page for the first time users when they sign-up
<h2>Click the link below that will guide you through some simple set up to get  CHECK you going</h2>

<%= link_to 'Start Guide', cars_path, method: :post %>