hey this is the special page

I want this page for the first time users when they sign-up
<h2>Click the link below that will guide you through some simple set up to get you going</h2>

<%= link_to 'Start Guide', after_signup_show_path %>